---
layout: index
title : Welcome
---
<!-- 아랫부분 폴문으로 그리고 옆에 사이즈로 끝 -->
<!-- 클릭시 해당 카테고리 전부다 검색하게끔 밑에 기능 사용하면 동일하게 가능 -->
<!-- 콘테이너 위에는 내 소개만드릭 -->

<div class="container">
    <div class="symbol-title">
        <h2>노트 목록</h2>
    </div>
    {% for category in site.categories %}
    {% assign name =  category | first %}
    {% assign num =  site.categories[name] | size %}
    <div class="note-container" onclick="clickNote('{{ name | replace: '.', '-'}}');">
        <p class="note-name">{{ name }}</p>
        <p class="note-count">{{ num }} 개</p>
    </div>
    <div class="notes-list {{ name | replace: '.', '-'}}">
        {% for post in site.categories[name] %}
            <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
            <p>{{ post.date | date: '%Y-%m-%d' }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <br />
    <div class="lately"><span class="lately-title">최근 게시글</span>
        <div class="lately-inner">
            {% for post in site.posts limit:5%}
                <a class="lately-board-a" href="{{post.url}}"><p class="lately-board-p"><span class="lately-board-date">{{post.date | date: '%Y-%m-%d' }}&nbsp;-&nbsp;</span><span class="lately-board-title">{{ post.title }}</span></p></a>
            {% endfor %}
        </div>
    </div>
    <br />
    <div class="lately">
        <span class="lately-title">최근 댓글</span>
        <div class="lately-inner">
            <div id="RecentComments" class="dsq-widget">
                <script type="text/javascript" src="https://https-moonjong93-github-io.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=1&excerpt_length=80"></script>        
            </div>
        </div>
    </div>
    <br />
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        // for warp of li tag for a -> reply links
        document.querySelectorAll('li.dsq-widget-item').forEach(function(me){
            var atag = document.createElement('a');
            atag.innerHTML = me.innerHTML;
            atag.setAttribute('class','dsq-coment');
            atag.setAttribute('href',me.childNodes[5].childNodes[2].href);
            me.parentNode.insertBefore(atag, me);
            me.remove();
        })
    });
    function clickNote(name){
        var height = document.querySelector('.' + name).offsetHeight;
        if(height === 0 ){
            document.querySelector('.' + name).style.height = '100%'
            document.querySelector('.' + name).style.transform = 'scaleY(1)';
        }else{
            document.querySelector('.' + name).style.height = 0
            document.querySelector('.' + name).style.transform = 'scaleY(0)';
        }
        
        // if(window.innerWidth < 700){
        //     document.querySelector(`.${name}`).style.width = '250px'
        // }else{
        //     document.querySelector(`.${name}`).style.width = '320px'
        // }
        // document.querySelector('#posts-panel').style.display = 'block'
    }


</script>