@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "./home.css";
@import "./index.css";
@import "./commnet.css";
@import "./markdown.css";

:root {
  --container-width: 640px;
  --text-color: #595757;
  --text-link: #038efb;
  --background-color: #f6f6f6;
  --border-color: #cdcdcd;
  --placeholder-color: #cdcdcd;
  --primary-color: #f07300;
  --primary-container: #fff;
}

@media (prefers-color-scheme: dark) {
  #comment-light {
    display: none;
  }
  :root {
    --text-color: #e6edf3;
    --text-link: #038efb;
    --background-color: #0d1117;
    --border-color: #000000;
    --primary-color: #f07300;
    --primary-container: #fff;
  }
}

@media (prefers-color-scheme: light) {
  #comment-dark {
    display: none;
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0px;
}

body > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

.paginator {
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: var(--text-link);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.dialog {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
}

.title {
  max-width: var(--container-width);
  margin: 0 auto;
  margin-bottom: 0 !important;
  padding: 4rem 0rem;
}

.title h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.title p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  /* font-size: 0.7em; */
}

.tag {
  border-bottom: 2px solid var(--primary-color);
  padding: 0px 5px;
  user-select: none;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  header {
    width: 100% !important;
    height: 100% !important;
    padding: 1rem !important;
  }
  h1 {
    font-size: 1.5em !important;
  }

  .note-list {
    width: 230px !important;
  }
  .note-content {
    width: 230px !important;
  }
  article.post-content {
    font-size: 0.9em !important;
  }
}
