<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="웹 개발자 Moongjon93의 블로그입니다, 개발을 하며 겪는일을 작성하고 있습니다"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Moonjong93 :: index" />
    <meta
      property="og:description"
      content="Moonjong93의 블로그를 한눈에 볼 수 있습니다"
    />
    <meta property="og:image" content="/assets/img/profile.png" />
    <meta property="og:url" content="https://moonjong93.github.io/" />
    <link
      rel="shortcut icon"
      href="/assets/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/about.css" />
    <link rel="canonical" href="https://moonjong93.github.io" />
    <title>About</title>
  </head>
  <body>
    {{ content }} {% include copy.html%}
  </body>
</html>
