<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>MoonJong93 :: {{ page.title }}</title>
</head>
<body>
<!-- <div class="info">
    <span><img src="/assets/img/profile.png" width="35"></span>
    <span>Moonjong - 블로그</span>
</div> -->
{% include top.html %}
<header>
    <div class="title">
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: '%Y-%m-%d' }}</p>
    </div>
</header>
<div class="container">
    <article class="post-content">
        {{ content }}
    </article>
    <footer>
        <div class="tags">
            {% for tag in page.tags %}
            <span class="tag">
                {{ tag }}
            </span>
            {% endfor %}
        </div>
        <br />
        {% include profile.html %}
        <br />
        {% if page.previous %}
            <span class="arow"><a href="{{ page.previous.url }}">▲ 이전 - {{ page.previous.title }}</a></span>
        {% endif %}
        {% if page.next %}
            <span class="arow"><a href="{{ page.next.url }}">▼ 다음 - {{ page.next.title }}</a></span>
        {% endif %}
    </footer>
    <br />
    <hr />
    <br />
    <div class="coment">
        {% if page.comments %}
            {% include disqus.html %}
        {% endif %}
    </div>
</div>
{% include copy.html %}
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.getElementsByClassName('container')[0].style.opacity = 1;
        });
    </script>
    {% include analytics.html %}
</body>
</html>